<div class="conteiner">
<p class="text-show">
  <strong>Title: </strong><%= @book.title %>
</p>

<p class="text-show">
  <strong>Body: </strong><%= @book.body %>
</p>


<div class="button-button">
<%= link_to "Edit", edit_book_path(@book.id) %>
|
<%= link_to "Back", books_path %>
</div>
</div>